[Desktop Entry]
Name=SecretUS
Exec=/usr/bin/secureus
Type=Application
Icon=/usr/share/icons/secureus.png
Comment=A one stop solution for people who have hard time recalling passwords
Categories=Accessories
Terminal=false
StartupNotify=true