.body{
  display: flex;

}
.sidebar{
  background-color: #221f1f;
  height: 100vh;
  top: -30px;
  height: calc(100vh + 30px);
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.sidebarheader{
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hr{
  height: 2px;
  position: relative;
  background-color: #855621;
}
.sidebarcontent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.sidebarcontent ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.sidebarcontent li{
  color: white;
}